
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="/news/save" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="Title">Title</label>
                        <input name="title" type="text" class="form-control" id="Title" aria-describedby="titleHelp" placeholder="Enter Title">
                        <small id="titleHelp" class="form-text text-muted">Maximum 200 symbols.</small>
                    </div>

                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea name="text" class="form-control" id="Description" rows="3" placeholder="Enter Description">{{text}}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="Category">Category</label>
                        <select name="category_id" class="form-control" id="Category">
                            <option hidden>Select Category</option>
                            {{categories | raw}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Picture">Upload Picture</label>
                        <input name="picture" type="file" class="form-control-file" id="Picture">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>