
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="/news/update/{{news_id}}" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="Title">Title</label>
                        <input value="{{title}}" name="title" type="text" class="form-control" id="Title" aria-describedby="titleHelp" placeholder="Enter Title">
                        <small id="titleHelp" class="form-text text-muted">Maximum 200 symbols.</small>
                    </div>

                    <div class="form-group">
                        <label for="Description">Description</label>
                        <textarea name="text" class="form-control" id="Description" rows="3" placeholder="Enter Description">{{text}}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="Category">Category: {{category | raw}}</label>
                        <select name="category_id" class="form-control" id="Category">
                            {{categories | raw}}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Pictures">Pictures: {{picture | raw}}</label>
                        <div class="card" style="width: 21rem;">
                            <img src="{{picture | raw}}" class="card-img-top" alt="...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Pictures">Select Picture:</label>
                        <select name="picture" class="form-control" id="Pictures">
                            {{pictures | raw}}
                        </select>
                    </div>

<!--                    <div class="form-group">-->
<!--                        <label for="Picture">Upload Picture</label>-->
<!--                        <input name="picture" type="file" class="form-control-file" id="Picture">-->
<!--                    </div>-->

                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href='/news/' class='btn btn-secondary'>Back</a>
                </form>
            </div>
        </div>
    </div>
</div>