
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="exception">
                {{exception | raw}}
            </div>
        </div>
    </div>
</div>

<script src="/views/js/ajaxDeleteNewsByID.js"></script>
<script src="/views/js/ajaxShowNewsByPageID.js"></script>

</body>
</html>