<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TZ News</title>
    <script src="/views/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/views/css/resets.css">
    <link rel="stylesheet" href="/views/css/error404.css">
    <link rel="stylesheet" href="/views/css/menu.css">
    <link rel="stylesheet" href="/views/css/subMenu.css">
    <link rel="stylesheet" href="/views/css/subMenuRight.css">
    <link rel="stylesheet" href="/views/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/views/css/bootstrap/bootstrap-grid.css">

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Passion+One:900" rel="stylesheet">
</head>
<body>

{{menu | raw}}