

<div class="index container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{content | raw}}
            </div>
        </div>
    </div>
</div>