
<div class="menu">
    <div class="center">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="active" ><a href="/news/">News</a>
                <ul class="subMenu">
                    <li class="subActive"><a href="/news/add/">Add News</a>
                        <ul class="subMenuRight">
                            <li><a href="/news/deleteAll/">Delete All News</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>