
<div class="news container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label='Page Navigation'>
                    <ul class='pagination justify-content-center ajaxPagination'>
                        {{pagination | raw}}
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped" data-row="10">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="ajaxTable">
                        {{news | raw}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>