
<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="card" style="width: 40rem;">
                    <div class="card-header text-center">
                        {{category | raw}}
                    </div>
                    <img src="{{picture | raw}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{title | raw}}</h5>
                        <p class="card-text">{{text | raw}}</p>
                    </div>
                    <div class="card-footer text-muted text-center">
                        {{created_at}}
                    </div>
                    <a href='/news/edit/{{news_id}}' class='btn btn-outline-warning'>Edit</a>
                    <a href='/news/' class='btn btn-outline-secondary'>Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
