.menu .subMenu{
    width: 100%;
    height: 50px;
    list-style: none;
    margin-top: -600px;
    transition: 0.5s;
}

.menu .subMenu > li{
    width: 100%;
    height: inherit;
}
.menu .subMenu > li > a{
    width: 100%;
    height: inherit;
    display: block;
    background: #0000a9;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid #0000a9;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.7s;
}
.menu .subMenu > li > a:hover{
    background: #FFFFFF;
    color: #0000a9;
    border: 1px solid #0000a9;

    font-size: 18px;
    transform-style: preserve-3d;
}

.active:hover .subMenu{
    margin-top: 0;
}