.menu .subMenuRight{
    width: 100%;
    height: 50px;
    list-style: none;
    margin-top: -50px;
    margin-left: 250px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.menu .subMenuRight > li{
    width: 100%;
    height: inherit;
}
.menu .subMenuRight > li > a{
    width: 100%;
    height: inherit;
    display: block;
    background: #0000a9;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid #0000a9;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.7s;
}
.menu .subMenuRight > li > a:hover{
    background: #FFFFFF;
    color: #0000a9;
    border: 1px solid #0000a9;

    font-size: 18px;
    transform-style: preserve-3d;
}

.subActive:hover .subMenuRight{
    margin-left: 250px;
    visibility: visible;
    opacity: 100;
}